用SMTP阿里云企业邮箱发给qq邮箱报错



**问题描述**

<html>
<body>
<!--StartFragment-->

退信原因 | 收件方地址不存在，或暂时不可用，导致邮件被系统退回。

解决方案 | 1. 请检查输入的收件方地址是否有误；2. 请联系收件方确认其域名MX是否存在,指向是否正确；3. 请联系收件方确认其邮箱使用状态，是否存在过期、被禁用或冻结等情况。

远程响应 | the mta server of qq.com -- mx3.qq.com(157.255.4.241) reply:550 The "From" header is missing or invalid. Please follow RFC5322, RFC2047, RFC822 standard protocol. [MEwgNYCUUqQdt1qml2CjHV6aouwXiNz1KplnTFuwgwGN67bolrd0KDmJ07BuZ3e8jQ== IP: 115.124.28.189]. https://service.mail.qq.com/detail/124/995. at 2023-12-30 19:27:15

<!--EndFragment-->
</body>
</html>


看起来像是QQ邮箱的问题